---
import Category from "./Category.astro";
import dispo from "../assets/category_imgs/dispo.jpg";
import salt from "../assets/category_imgs/saltnic.webp";
import freebase from "../assets/category_imgs/freebase.png";
import pouches from "../assets/category_imgs/pouches.png";
import background from "../assets/background.svg";
// we have 4 categories , juice , dispos , and pouches
---

<div
    id="container"
    class="text-5xl flex justify-center items-baseline gap-5 mt-10"
>
    <Category link="/disposables" imgSrc={dispo} text="Disposables" />
    <Category link="/freebase" imgSrc={freebase} text="Freebase E-Juice " />
    <Category link="/" extraClass="mt" imgSrc={salt} text="Salt Nic E-Juice " />
    <Category link="" imgSrc={pouches} text="Pouches" />
</div>
